body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("../images/texture.png");
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
/*-----NAVBAR-----*/

.logo {
  height: 70px;
  width: auto;
}

li a {
  color: #fff;
  font-size: 20px;
}

.nav-link {
  text-align: center;
}

.links {
  margin-left: 60px;
  border-radius: 10px;
}

.links-dropdown {
  border-radius: 10px;
}

.material-icons {
  font-size: 20px;
}

li a:hover {
  background-color: #fff;
  color: #000;
}

.dropdown-item:hover {
  background-color: #000;
  color: #fff;
}

/*-----IMAGE-----*/

.card {
  margin-top: 150px;
  height: 850px;
  width: 700px;
}

.all {
  display: flex;
  justify-content: center;
}

/*-----COMMENT FORM-----*/

.error {
  font-size: 20px;
  background-color: red;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-right: 700px;
}

.form-label {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.form-control {
  font-size: 18px;
}

.btn {
  background-color: white;
  color: #000;
  font-weight: bold;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
}

.btn:hover {
  background-color: #0034ab;
  color: #fff;
  transition: 0.5s;
  font-weight: bold;
}

.row-comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-name {
  border-right: 6px solid #000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #00ef56;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-description {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  background-color: #92c8ff;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
}

.comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
}

.delete-comment {
  position: absolute;
  top: 35px;
  right: 70px;
  font-size: 24px;
  transition: 0.5s;
  color: #21618c;
}

.delete-comment:hover {
  transform: scale(1.4, 1.4);
  cursor: pointer;
  color: #e74c3c;
}

.edit-comment {
  position: absolute;
  top: 35px;
  right: 20px;
  font-size: 24px;
  transition: 0.5s;
  color: #21618c;
}

.edit-comment:hover {
  transform: scale(1.4, 1.4);
  cursor: pointer;
  color: #e74c3c;
}

#username {
  font-size: 25px;
  vertical-align: middle;
}

.profile-icon {
  font-size: 40px;
  vertical-align: middle;
}

/*-----RATING-----*/

.fa-star:before {
  content: "\f005";
}

.rating-list li i.yellow {
  color: #ffd700;
}

.rating-list li i.gray {
  color: #bbb;
}

.stars-background {
  display: flex;
  justify-content: center;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 25px;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 30px;
}

.rating-list li {
  padding-top: 10px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
