body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("../images/texture.png");
  padding: 0;
  margin: 0;
}
/*-----NAVBAR-----*/

.logo {
  height: 70px;
  width: auto;
}

.container-fluid {
  text-align: center;
}

li a {
  color: #fff;
  font-size: 20px;
  margin: 0 auto;
}

.nav-link {
  margin-left: 60px;
  border-radius: 10px;
  text-align: center;
}

.links-dropdown {
  border-radius: 10px;
}

.material-icons {
  font-size: 20px;
}

li a:hover {
  background-color: #fff;
  color: #000;
}

.dropdown-item:hover {
  background-color: #000;
  color: #fff;
}

/*-----SEARCH FIELD-----*/

.search-recipe {
  margin-top: 150px;
}

#input-error {
  background-color: red;
  color: #fff;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.hidden {
  display: none;
}

/*-----INGREDIENTS TABLE-----*/

.btn {
  padding: 10px 40px;
  letter-spacing: 4px;
  background: #0034ab;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
}

.btn:hover {
  background: #d60808;
  color: #fff;
  transition: 0.3s;
}

#table-title {
  letter-spacing: 12px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

.table {
  text-align: center;
  background-color: #92c8ff;
}

.delete-icon {
  font-size: 24px;
  vertical-align: middle;
}

.delete-icon a {
  color: #000;
}

.delete-icon a:hover {
  color: red;
}

.grocery-name {
  font-size: 18px;
  vertical-align: middle;
  color: #000;
}
/*-----SELECTED RECIPES-----*/

.card {
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 20px;
}

.card:hover {
  transform: translateY(-15px);
  transition: 0.3s;
}

.text1 {
  font-size: 13px;
  color: #0053a9;
}

.info {
  line-height: 17px;
}

.star {
  color: #fbc02d;
}

.cost span {
  color: #fb3531;
  font-weight: bold;
  font-size: 20px;
}

.button {
  background: #0034ab;
}

a:hover > div > span {
  font-weight: bold;
  letter-spacing: 5px;
}

a > div > span {
  color: #fff;
  letter-spacing: 2px;
}

.details-link {
  text-decoration: none;
}

.button:hover {
  background: #d60808;
}

.cursor {
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
